<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Панель администратора</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  </head>
  <body>
	<!--<div id="particles-js"></div>
	<script src="/js/particles.js"></script>
	<script src="/js/app.js"></script>-->
	 <div class="wrapper">
        <div class="sidebar">
			<div class="profile">
                <img src="<%= user.profile_picture %>" alt="profile_picture">
                <h3><%= user.name %></h3>
                <p>Администратор</p>
            </div>
			<ul>
                <li>
                    <a href="/admin/">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Главная</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/requests" class="active">
                        <span class="icon"><i class="fas fa-desktop"></i></span>
                        <span class="item">Заявки</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/settings">
                        <span class="icon"><i class="fas fa-cog"></i></span>
                        <span class="item">Настройки</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
	<div class="welcome-text" style="top:7%;">
		<h1>Список заявок</h1>
	</div>
    <div class="requests-field">
        <% requests.forEach((req) => { %>
                <div class="request" onclick="location.href='/admin/requests/<%= req.id %>'">
                <p class="request-number">Заявка №<%= req.id %></p>
                <p class="request-status">Статус:</p>
                <% if ( req.status == 0 ) { %>
                    <p class="request-status" style="color: #3bc051;">Свободна</p>
                <% } else { %>
                    <% if ( req.status == -1 ) { %>  
                        <p class="request-status" style="color: #313131;">Завершена</p>
                    <% } else { %>
                        <p class="request-status" style="color: #c0913b;">В работе у <%= users[req.status].name %></p>
                    <% } %>
                <% } %>
                <p class="request-text"><%= req.text %></p>
                <p class="request-date"><%= req.date %></p>
                <p class="request-user">Пользователь: <%= req.user %></p>
            </div>
        <% }) %>
    </div>
  </body>
</html>