<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Чат по заявке №<%= req_id  %></title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<script type="text/javascript">

		const sleep = (milliseconds) => {
		return new Promise(resolve => setTimeout(resolve, milliseconds))
		}
        window.onload = function() {
		scrollMessages();
	  };
	  const scrollMessages = async () => {
			await sleep(10);
			var element = document.getElementById("chat-main");
			element.scrollTop = element.scrollHeight;
		}
        </script>
		
  </head>
  <body style="background-image: none;">
	<div id="particles-js"></div>
	<script src="/js/particles.js"></script>
	<script src="/js/app.js"></script>
	 <div class="wrapper">
        <div class="sidebar">
			<div class="profile">
                <img src="<%= user.profile_picture %>" alt="profile_picture">
                <h3><%= user.name %></h3>
                <p>Пользователь</p>
            </div>
			<ul>
                <li>
                    <a href="/user/" class="active">
                        <span class="icon"><i class="fas fa-desktop"></i></span>
                        <span class="item">Заявки</span>
                    </a>
                </li>
                <li>
                    <a href="/user/settings">
                        <span class="icon"><i class="fas fa-cog"></i></span>
                        <span class="item">Настройки</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
	<div class="chat">
		<div class="chat-body">
			<div class="chat-main" id="chat-main">
				<!--
				<div class="message">
					<div class="message-text">
					<span class="message-user">Изольда Алексеевна</span>
					<span class="message-date">19.03.2024 8:32:01</span>
					<p class="text">Добрый день! У меня ничего не работает!!! Обращалась уже который раз, но каждый день одна и та же ошибка. 
					Сделайте уже что-то с этим, пожалуйста!! Мне нужно зайти в почту и в интернет, но у меня не получается.</p>
					</div>
					<img src="/img/cat2.jpg" alt="profile_picture">
				</div>
				<div class="message-2">
					<div class="message-text-2">
					<span class="message-user-2">Иванов Иван Иванович</span>
					<span class="message-date-2">19.03.2024 10:23:45</span>
					<p class="text-2">пашла нахуй</p>
					</div>
					<img src="/img/cat3.jpg" alt="profile_picture">
				</div>-->
				<% messages.forEach((message) => { %>
					<% if ( message.message_admin == 0 ) { %>
						<div class="message-2">
							<div class="message-text-2">
							<span class="message-user-2"><%= message.user_name %></span>
							<span class="message-date-2"><%= message.message_date %></span>
							<p class="text-2"><%= message.message_text %></p>
							</div>
							<img src="<%= message.profile_picture %>" alt="profile_picture">
						</div>
					<% } else { %>
						<div class="message">
							<div class="message-text">
							<span class="message-user"><%= message.user_name  %></span>
							<span class="message-date"><%= message.message_date %></span>
							<p class="text"><%= message.message_text %></p>
							</div>
							<img src="<%= message.profile_picture %>" alt="profile_picture">
						</div>
					<% } %>
				<% }) %>
			</div>
			<div class="chat-textbox">
				<form action="/admin/requests/<%= req_id  %>" method="POST" id="messform">
					<% if ( data.req ) { %>
					
						<% if ( data.req.status >= 0 ) { %>
							<textarea id="message_text" name="message_text" placeholder="Введите сообщение..." required></textarea>
							<input id="message_button" type="submit" value="Отправить сообщение" onclick="scrollMessages()"> 
						<% } else { %>
							<textarea id="message_text" name="message_text" placeholder="Введите сообщение..." required disabled hidden></textarea>
							<input id="message_button" type="submit" value="Отправить сообщение" onclick="scrollMessages()" disabled hidden> 
						<% } %>	

					<% } %>
				</form>
				<form action="/admin/requests/<%= req_id  %>" method="POST" id="reqform">
					<% if ( data.req ) { %>
					
						<% if ( data.req.status == 0 ) { %>
						<input type="submit" value="Принять заявку" onclick="scrollMessages()" id="reqbutton" disabled hidden> 
						<% } else { %>
							<% if ( data.req.status == -1 ) { %>  
								<input type="submit" value="Возобновить заявку" onclick="scrollMessages()" id="reqbutton" disabled hidden> 
							<% } else { %>
								<input type="submit" value="Завершить заявку" onclick="scrollMessages()" id="reqbutton"> 
							<% } %>
						<% } %>	

					<% } %>
				</form>
			</div>
		</div>
		<div class="chat-header">
			<p>Чат по заявке №<%= req_id  %></p>
			<p class="chat-status">Статус заявки: </p>
			<% if ( data.req ) { %>

			<% if ( data.req.status == 0 ) { %>
				<p class="chat-status" id="chat-status" style="color: green;">Свободна</p>
			<% } else { %>
				<% if ( data.req.status == -1 ) { %>  
					<p class="chat-status" id="chat-status" style="color: #313131;">Завершена</p>
				<% } else { %>
					<p class="chat-status" id="chat-status" style="color: #c0913b;">В работе у <%= users[data.req.status].name %></p>
				<% } %>
			<% } %>

			<% } %>

			
		</div>
	</div>
	<div id="getejs" data-userid="<%= user.id %>" data-reqid="<%= req_id %>" data-isadmin="<%= user.isadmin %>" data-username="<%= user.name %>" data-userpicture="<%= user.profile_picture %>" hidden><%= req_id %></div>
	<div id="get-req-status" hidden>
		<% if ( data.req ) { %>
			<%= data.req.status %>
		<% } %>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		$(function() {
			var socket = io.connect();
			var $form = $("#messform")
			var $textarea = $("#message_text")
			var $all_messages = $("#chat-main")

			$form.submit(function(){
				event.preventDefault()
				var userid = $("#getejs").data("userid")
				var reqid = $("#getejs").data("reqid")
				var isadmin = $("#getejs").data("isadmin")
				var user_name = $("#getejs").data("username")
				var profile_picture = $("#getejs").data("userpicture")
				socket.emit("send mess", { message_text: $textarea.val(), user_id: userid, req_id: reqid, isadmin: isadmin, user_name: user_name, profile_picture: profile_picture })
				$textarea.val('')
			})

			socket.on('add mess', function(data) {
				if (data.req_id == $("#getejs").data("reqid")) {
					scrollMessages()
					if (data.isadmin == 0) {
						$all_messages.append(
							'<div class="message-2">' +
								'<div class="message-text-2">' +
								'<span class="message-user-2">' + data.user_name + ' </span>' +
								'<span class="message-date-2"> ' + data.message_date + '</span>' +
								'<p class="text-2">' + data.message_text + '</p>' +
								'</div>' +
								'<img src='+ data.profile_picture +' alt="profile_picture">' +
							'</div>'
						)
					} else {
						$all_messages.append(
							'<div class="message">' +
								'<div class="message-text">' +
								'<span class="message-user">' + data.user_name + ' </span>' +
								'<span class="message-date"> ' + data.message_date + '</span>' +
								'<p class="text">' + data.message_text + '</p>' +
								'</div>' +
								'<img src='+ data.profile_picture +' alt="profile_picture">' +
							'</div>'
						)
					}
				}
    		})

			var $reqform = $("#reqform")
			var $reqbutton = $("#reqbutton")

			$reqform.submit(function(){
				event.preventDefault()
				var userid = $("#getejs").data("userid")
				var reqid = $("#getejs").data("reqid")
				var user_name = $("#getejs").data("username")
				var isadmin = $("#getejs").data("isadmin")
				var req_status = $("#get-req-status").text()
				socket.emit("take req", { user_id: userid, req_id: reqid, user_name: user_name, isadmin: isadmin, message_text: "", status: req_status })
				//$reqbutton.val('Завершить заявку')
			})

			socket.on('take request', function(data) {
				if (data.req_id == $("#getejs").data("reqid")) {
					scrollMessages()
					if (data.status == -1) {
						$textarea.prop("disabled", true)
						$("#message_button").prop("disabled", true)
						$textarea.prop("hidden", true)
						$("#message_button").prop("hidden", true)
						$("#reqbutton").prop("disabled", true)
						$("#reqbutton").prop("hidden", true)
						$("#chat-status").css('color', '#313131')
						$("#chat-status").text("Завершена")
						//$("#reqbutton").val("Возобновить заявку")
					} else {
						if (data.status > 0) {
							$textarea.prop("disabled", false)
							$("#message_button").prop("disabled", false)
							$textarea.prop("hidden", false)
							$("#message_button").prop("hidden", false)
							$("#reqbutton").prop("disabled", false)
							$("#reqbutton").prop("hidden", false)
							$("#chat-status").css('color', '#c0913b')
							$("#chat-status").text("В работе у " + data.user)
							$("#reqbutton").val("Завершить заявку")
						}
					}
					$("#get-req-status").text(data.status)
				}
    		})

		});
	</script>
  </body>
</html>